html, body {
  margin: 0px;
  padding: 0px;
  /*margin et padding à 0 pour que le contenu soit collé au bord*/
	height : 100%;
  min-height: 100vh;
  /*forcer une taille minimum qui correspond à la hauteur de l'écran de l'utilisateur (viewport height)*/
}

nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background-color : #01796F;
}

nav li {
		display: inline-block;
		padding: 0px;
		margin: 0px;
		font-family : Arial;
		font-size : 15px;
		width : 191px;
		height : 40px;
		border-right : 1px solid #CCCCCC;
		text-align : center;
		line-height : 40px;
	  }
body {
	font-family : Arial;
	background-color : #FFFFFF;
	color : #09090A;
}

nav li a {
	display : block;
	text-decoration : none;
	color : #FFFFFF;
}

nav li :hover{
	background-color: #7C7A7F;
}

.push {
  height: 100px;
}

footer {
	background-color: #01796F;
	font-size : 16px;
	width : 100%;
	height: 40px;
	position : absolute;
	bottom : -2200px;
	left : 0px;
	text-align : center;
	line-height : 40px;
}

#futuresdates {
font-size : 18px;
}

#contenu {
	min-height : 100%;
	position : relative;
}

#hiver {
text-align : center;
width : 420px;
height : 250px	;
}

#sybelles {
text-align : center;
width : 520px;
height : 350px	;
}
#louillon {
text-align : center;
width : 520px;
height : 350px	;
}

#sybelles2 {
text-align : center;
width : 520px;
height : 350px	;
}
table {
	border-collapse : collapse; 
	font-size : 20px;
}
caption {
	border-width : 1px;
	border-style : solid; 
	border-color: black; 
}
p.maj {
	color : #F20911;
	font-size : 18px;
}
td {
	width: 500px;
	border-width : 1px;
	border-style : solid; 
	border-color: black; 
}
td.etathp {
	width : 65px;
	background-color : #938989;
	color : white;
}
td.etatouvert {
	width : 65px;
	background-color : #1DE040;
	color : white;
}
td.etatferme {
	width : 65px;
	background-color : #ED0E15;
	color : white;
}
td.etatprevision {
	width : 65px;
	background-color : #ED900E;
	color : white;
}
i.message {
	color : grey;
	font-size : 12px;
}
i.messageimportant {
	color : red;
	font-size : 12px;
}
